:root {
   /* colors */
   --color-text-dark: #403f3d;
   --color-text-light: #e1d4c9;
   --color-text-accent: #b0907a;
   --color-bg-body: #e1d4c9;
   --color-bg-container: #665f55;
   --color-bg-backdrop: #403f3d;
   --color-border-dark: #665f55;
   --color-border-light: #c1b6ad;

   /* adapted font-size */
   --adaptive-h1: clamp(42px, 9.38vw, 72px);
   --adaptive-h2: clamp(32px, 7.818vw, 60px);

   /* animate */
   --animate-transform: transform 0.8s ease;
   --animate-color: background 0.6s ease, color 0.6s ease,
      border-color 0.6s ease;

   /* spacing: 100, 40, 20, 16 8 4*/
   --spacing-extra-lg: 100px;
   --spacing-lg: 40px;
   --spacing-above-md: 20px;
   --spacing-md: 16px;
   --spacing-sm: 8px;
   --spacing-extra-sm: 4px;

   /* border radius */
   --rounding-circle: 50%;
   --rounding-lg: 40px;
   --rounding-md: 20px;
   --rounding-sm: 10px;
}
